.navbar {
  margin-top: 40px;
  height: 80px;
  width: auto;
  display: flex;
  flex-direction: row;
  margin-left: 70px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.link1 {
  text-decoration: none;
}

.inaxio {
  width: 300px;
  margin-top: 10%;
  color: black;
  cursor: pointer;
  font-size: 1.3rem;
  letter-spacing: 6px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}

.inaxio:hover {
  font-weight: bold;
  transition: all 0.2s ease-out;
}

.menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 1400px;
  justify-content: end;
  margin-right: 2rem;
}

.item {
  display: flex;
  align-items: center;
  height: 50px;
}

.link {
  letter-spacing: 6px;
  font-size: smaller;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.link:hover {
  font-weight: bold;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: black;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 1200px) {
  .navbar {
    position: absolute;
    width: 90vh;
    align-self: center;
    top: 0px;
    left: 0;
  }
  .inaxio {
    position: absolute;
    left: 0;
    margin-top: -10px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  /*   .menu-active {
    background-color: white;
    display: block;
    position: absolute;
    top: 50%;
    width: 160px;
    padding-left: 0;
    right: 9%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  } */

  /*   .link {
    color: black;
    font-weight: 600;
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .link:hover {
    font-weight: bold;
    border-radius: 0;
  } */

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-bars {
    color: #fff;
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .navbar {
    width: 80%;
  }

  .inaxio {
    margin-left: -20px;
    font-size: 0.6rem;
    letter-spacing: 3px;
    font-weight: 400;
  }

  .menu-icon {
    transform: translate(-400%, 100%);
    font-size: 1.3rem;
    cursor: pointer;
  }
}
