@media screen and (max-width: 970px) {
  .about {
    margin-top: 50%;
    margin-left: 10%;
    width: 100vh;
  }
}

.about {
  margin-top: 7%;
}

.title {
  padding-left: 16%;
  margin-top: 3%;
  padding-top: 0px;
  letter-spacing: 4mm;
  font-size: 8mm;
  margin-bottom: 100px;
}

@media screen and (max-width: 1200px) {
  .about {
    width: 100vh;
    margin-top: 180px;
    margin-left: 0px;
  }

  .title {
    margin-left: 0px;
  }
}

@media screen and (max-width: 400px) {
  .about {
    width: 100%;
    margin-top: 42%;
  }
  .title {
    letter-spacing: 2mm;
    font-size: 5mm;
    margin-bottom: 45px;
  }
}
