.colors {
  max-width: 1800px;
  margin-left: 1s;
}

h1 {
  padding-left: 16%;
  margin-top: 10%;
  padding-top: 0px;
  letter-spacing: 4mm;
  font-size: 8mm;
}

.ul {
  list-style: none;
  margin-left: 8%;
  margin-bottom: 100px;
  padding-left: 20px;
  margin-top: -80px;
}

@media screen and (max-width: 970px) {
  .colors {
    margin-top: 30%;
  }
  .ul {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 750px) {
  .colors {
    margin-top: 40%;
  }
}

@media screen and (max-width: 600px) {
  .colors {
    margin-top: 60%;
  }
}

@media screen and (min-width: 1600px) {
  .colors {
    margin-left: 10%;
  }
}

@media screen and (min-width: 1600px) {
  .colors {
    margin-left: 10%;
    max-width: 1500px;
  }
}
