.colors {
  max-width: 1400px;
  display: grid;
  grid-template-columns: fit-content;
  margin-top: 50px;
  margin-bottom: -100px;
}

.titlecolors {
  padding-left: 17.5%;
  letter-spacing: 4mm;
  font-size: 8mm;
  margin-bottom: 100px;
}

.container {
  width: 100%;
  max-width: max-content;
  margin-left: 7%;
  gap: 20px;
}

.ul {
  list-style: none;
  margin-left: 0%;
  margin-bottom: 100px;
  margin-top: -80px;
}

.litem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  gap: 60px;
}

@media screen and (max-width: 970px) {
  .colors {
    margin-top: 40%;
  }
  .ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1600px) {
  .colors {
    margin-left: 10%;
    max-width: 1500px;
  }
}

@media screen and (max-width: 1200px) {
  .colors {
    margin-top: 130px;
    margin-left: 5%;
  }

  .titlecolors {
    margin-left: -100px;
  }
}

@media screen and (max-width: 400px) {
  .colors {
    margin-left: 3%;
    margin-bottom: -50px;
    margin-top: 39%;
  }

  .titlecolors {
    letter-spacing: 2mm;
    font-size: 5mm;
    padding-left: 150px;
    margin-bottom: 50px;
  }

  .container {
    max-width: 350px;
    margin-left: 0px;
  }

  .litem {
    gap: 15px;
  }
}
