.colors {
  max-width: 1600px;
  display: grid;
  grid-template-columns: fit-content;
  margin-top: 3%;
}

.titlecolors {
  padding-left: 16%;
  padding-top: 0px;
  letter-spacing: 4mm;
  font-size: 8mm;
  margin-bottom: 100px;
}

.container {
  width: 100%;
  max-width: max-content;
  margin: auto;
  gap: 20px;
}

.ul {
  list-style: none;
  margin-left: 0%;
  margin-bottom: 100px;
  padding-left: 20px;
  margin-top: -80px;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 0px;
  list-style: none;
  gap: 30px;
}

@media screen and (max-width: 970px) {
  .colors {
    margin-top: 40%;
  }
  .ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1600px) {
  .colors {
    margin-left: 10%;
    max-width: 1500px;
  }
}

@media screen and (max-width: 1200px) {
  .colors {
    margin-top: 130px;
    margin-left: 5%;
  }

  .titlecolors {
    margin-left: -100px;
  }
}

@media screen and (max-width: 400px) {
  .colors {
    width: 100%;
    margin-bottom: -50px;
    margin-top: 39%;
  }
  .titlecolors {
    letter-spacing: 2mm;
    font-size: 5mm;
    padding-left: 140px;
    margin-bottom: 60px;
  }

  .container {
    gap: 10px;
  }
}
