.films {
  margin-top: 3%;
  margin-left: 5%;
  width: auto;
  display: grid;
  grid-template-columns: fit-content;
}

.title {
  padding-left: 16%;
  margin-top: 3%;
  padding-top: 0px;
  letter-spacing: 4mm;
  font-size: 8mm;
  margin-bottom: 100px;
}

.container {
  margin-top: -50px;
  width: 100%;
  max-width: max-content;
  gap: 20px;
}

.films-li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 0px;
  list-style: none;
  gap: 30px;
}

@media screen and (max-width: 970px) {
  .films-li {
    display: grid;
    grid-template-columns: 1fr;
  }
  .container {
    margin-left: 0%;
  }
}

@media screen and (970px < width < 1300px) {
  .films-li {
    gap: 0px;
  }
}

@media screen and (max-width: 1200px) {
  .films {
    width: 100vh;
    margin-top: 180px;
    margin-left: 0px;
  }

  .title {
    margin-left: 0px;
  }
}

@media screen and (max-width: 400px) {
  .films {
    width: 100%;
    margin-top: 40%;
  }
  .title {
    letter-spacing: 1mm;
    font-size: 4mm;
    margin-bottom: 45px;
  }

  .container {
    gap: 10px;
  }

  .films-li {
    gap: 10px;
  }
}
