* {
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  position: absolute;
  background-image: url("../assets/videos/inaxio.webp");
  width: 100%;
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
}

.audiovisual {
  margin-top: 23.5%;
  margin-left: 25%;
  letter-spacing: 10px;
  font-size: 6mm;
  color: white;
}

.inaxio {
  margin-top: -24px;
  margin-left: 9%;
  letter-spacing: 40px;
  font-size: 12mm;
  color: white;
}

.romera {
  margin-top: -83px;
  margin-left: 40%;
  letter-spacing: 40px;
  font-size: 12mm;
  color: white;
}

.content {
  margin-top: -34px;
  margin-left: 63%;
  letter-spacing: 10px;
  font-size: 5mm;
  color: white;
}

.icon {
  margin-top: -21.5mm;
  margin-left: 26mm;
}

.bttn {
  border: none;
  background-color: transparent;
  animation: bump 1000ms ease-out;
}

.bttn:hover {
  transition-duration: 0.5s;
  transform: scale(1.2);
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
