.photos {
  width: auto;
  margin-top: 80px;
}

.title {
  padding-left: 16%;
  margin-top: 5%;
  padding-top: 0px;
  letter-spacing: 4mm;
  font-size: 8mm;
  margin-bottom: 10px;
}

.ul {
  list-style: none;
  margin-left: 1%;
  padding-left: 7%;
  margin-right: 5%;
}

@media screen and (max-width: 1200px) {
  .photos {
    margin-top: 180px;
    margin-left: 0px;
  }
  .title {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1600px) {
  .photos {
    margin-left: 10%;
    max-width: 1500px;
  }
}

@media screen and (max-width: 970px) {
  .photos {
    width: fit-content;
  }
  .ul {
    display: grid;
  }
}

@media screen and (max-width: 400px) {
  .photos {
    max-width: 350px;
    width: 100%;
    margin-top: 42%;
    margin-left: 6%;
  }
  .title {
    letter-spacing: 2mm;
    font-size: 5mm;
    padding-left: 38px;
    margin-bottom: 25px;
  }
}
