.photos {
  max-width: 1800px;
  margin-left: 1s;
}

h1 {
  padding-left: 16%;
  margin-top: 10%;
  padding-top: 0px;
  letter-spacing: 4mm;
  font-size: 8mm;
}

.ul {
  list-style: none;
  margin-left: 13%;
  padding-left: 7%;
  margin-right: 7%;
  margin-top: -80px;
}

@media only screen and (min-width: 840px) {
  .ul {
    list-style: none;
    margin-left: 1.2%;
  }
}
