.photos {
  width: auto;
  margin-top: 20%;
}

.title {
  padding-left: 16%;
  padding-top: 0px;
  letter-spacing: 4mm;
  font-size: 8mm;
  margin-bottom: 10px;
}

.ul {
  list-style: none;
  margin-left: 1%;
  padding-left: 7%;
  margin-right: 5%;
}

/* @media only screen and (min-width: 840px) {
  .ul {
    list-style: none;
    margin-left: 1.2%;
  }
} */

@media screen and (min-width: 1600px) {
  .photos {
    margin-left: 10%;
    max-width: 1500px;
  }
}

@media screen and (max-width: 970px) {
  .photos {
    margin-top: 40%;
    width: fit-content;
  }
  .ul {
    display: grid;
  }
}

@media screen and (min-width: 1600px) {
  .photos {
    margin-left: 10%;
  }
}
