.body {
  max-width: auto;
  padding: 10px;
  margin-left: 0%;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  margin-bottom: 20px;
  width: 550px;
  height: 400px;
}

.photo {
  margin-top: 0mm;
  height: 400px;
  padding-left: 20px;
  width: auto;
  background-size: contain;
  background-repeat: no-repeat;
}
.photoimg {
  height: 80%;
}

.photonumber {
  padding-left: 80%;
  margin-top: 0px;
  letter-spacing: 1mm;
  font-size: 4mm;
}

.photoname {
  padding-left: 5%;
  margin-top: -70px;
  letter-spacing: 1mm;
  font-size: 4mm;
}
