h1 {
  margin-left: 10px;
}

p {
  margin-left: 16.5%;
  margin-top: -10px;
  font-size: large;
}

.form {
  margin-top: 6%;
  margin-bottom: 160px;
  margin-left: 30%;
  height: 12rem;
  width: 400px;
}

.form input {
  font: inherit;
  border: none;
  margin-bottom: 50px;
  border-radius: 0px;
  width: 400px;
  max-width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: grey;
  border-bottom: solid;
}

.bttn {
  margin-left: rem;
  font: inherit;
  font-weight: bold;
  color: black;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
}
