.form {
  margin-top: 10%;
  margin-bottom: 3rem;
  margin-left: 30%;
  height: 12rem;
  width: 400px;
  background-color: white;
}

.form input {
  font: inherit;
  border: 1px solid white;
  border-radius: 4px;
  width: 20rem;
  max-width: 100%;
  border-color: rgb(64, 167, 227);
  background-color: #fdf6f6;
}

.bttn {
  margin-left: rem;
  font: inherit;
  font-weight: bold;
  color: black;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
}
