* {
  font-family: Arial, Helvetica, sans-serif;
}

.footerbody {
  margin-top: 200px;
  padding-left: 0px;
  height: 440px;
}

.image {
  width: 100%;
}

.img {
  width: 100%;
}

.contact {
  margin-top: 30px;
  margin-left: 16%;
  line-height: 6mm;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 4mm;
  font-weight: bold;
  margin-bottom: 0px;
}

.email {
  margin-top: -20px;
  margin-left: 16%;
  line-height: 6mm;
  letter-spacing: 1px;
  font-size: 5mm;
  margin-bottom: 20px;
  color: black;
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.pr {
  margin-top: 40px;
  margin-left: 65%;
  display: flex;
  padding-bottom: 50px;
  color: rgb(93, 23, 23);
}

@media only screen and (max-width: 970px) {
  .footerbody {
    margin-left: 10%;
    margin-right: 0%;
    width: 110vh;
  }
  .image {
    width: fit-content;
  }
  .img {
    width: 100%;
  }
  .pr {
    width: max-content;
    font-size: small;
    margin-left: 60%;
  }
}

@media screen and (970px < width < 1300px) {
  .footerbody {
    margin-top: 100px;
    justify-content: center;
  }
  .pr {
    margin-left: 60%;
  }
}

@media only screen and (max-width: 400px) {
  .footerbody {
    width: 100%;
    margin-top: 60px;
    margin-left: 0px;
    height: 240px;
  }

  .image {
    width: 100%;
  }

  .img {
    width: 100%;
  }

  .contact {
    margin-top: 20px;
    font-size: 0.6rem;
    margin-left: 50px;
  }

  .email {
    margin-left: 50px;
    font-size: 0.7rem;
  }

  .pr {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 60%;
    font-size: 0.5rem;
  }
}
