.body {
  display: inline-block;
  height: 500px;
  margin-top: 60px;
}

.image {
  margin-top: -2mm;
  height: 500px;
  padding-left: 20px;
  width: auto;
}

h3 {
  padding-left: 88%;
  margin-top: 15mm;
  letter-spacing: 1mm;
  font-size: 4mm;
}

h4 {
  padding-left: 20px;
  margin-top: 3mm;
  letter-spacing: 1mm;
  font-size: 4mm;
}
