h1 {
  margin-left: 2%;
  margin-top: 2%;
  letter-spacing: 4mm;
  font-size: 8mm;
}

.project {
  display: inline-block;
  width: 450px;
  height: 300px;
  margin-left: 10%;
  margin-top: 1%;
}

.image {
  margin-top: -2mm;
  /*   background-image: url("../assets/tormento.webp"); */
  width: 450px;
  height: 290px;
  background-repeat: no-repeat;
  background-size: contain;
}

.project h3 {
  padding-left: 120%;
  margin-top: 0mm;
  letter-spacing: 1mm;
  font-size: 4mm;
}

.project h4 {
  margin-top: 10mm;
  letter-spacing: 1mm;
  font-size: 4mm;
}
